include ../heading/heading

mixin citation()
    div.citation.positioner.positioner--narrow
        p.citation__text
            | In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non pretium massa
            | mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio
            | mollis tempus!
        +heading(3).heading--with-line.citation__author Jim Gordon (GCPD)