mixin social-networks()
    div.social-networks
        a(href="#").social-networks__item.social-networks__item--facebook Facebook
        a(href="#").social-networks__item.social-networks__item--twitter Twitter
        a(href="#").social-networks__item.social-networks__item--instagram Instagram